// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

// reset & public
@import "styles/reset";
@import "styles/public";

// components
@import "styles/components";

// pages
@import "styles/pages";
@import "styles/phone";

@font-face {
  font-family: MDPrimer;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/MDPrimer-Light.woff2") format("woff2"),
  url("../public/fonts/MDPrimer-Light.woff") format("woff"),
  url('../public/fonts/MDPrimer-Light.otf') format('opentype')
}

@font-face {
  font-family: MDPrimer;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/MDPrimer-Regular.woff2") format("woff2"),
  url("../public/fonts/MDPrimer-Regular.woff") format("woff"),
  url('../public/fonts/MDPrimer-Regular.otf') format('opentype')
}

@font-face {
  font-family: MDPrimer;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/MDPrimer-Medium.woff2") format("woff2"),
  url("../public/fonts/MDPrimer-Medium.woff") format("woff"),
  url('../public/fonts/MDPrimer-Medium.otf') format('opentype')
}

@font-face {
  font-family: MDPrimer;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/MDPrimer-Semibold.woff2") format("woff2"),
  url("../public/fonts/MDPrimer-Semibold.woff") format("woff"),
  url('../public/fonts/MDPrimer-Semibold.otf') format('opentype')
}

@font-face {
  font-family: MDPrimer;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/MDPrimer-Bold.woff2") format("woff2"),
  url("../public/fonts/MDPrimer-Bold.woff") format("woff"),
  url('../public/fonts/MDPrimer-Bold.otf') format('opentype')
}

@font-face {
  font-family: MDPrimer;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/MDPrimer-Black.woff2") format("woff2"),
  url("../public/fonts/MDPrimer-Black.woff") format("woff"),
  url('../public/fonts/MDPrimer-Black.otf') format('opentype')
}
