$rose: #fe4365;
$blue: #53B4FA;
// Your components styles

// Button
button {
  &:disabled, &.disabled {
    cursor: not-allowed;
  }
}
@mixin btn-color($bgColor) {
  @apply bg-#{$bgColor}-500 text-white;
  &:hover {
    @apply bg-#{$bgColor}-600;
  }
  &:active {
    @apply bg-#{$bgColor}-700
  }
  &.disabled, &:disabled {
    @apply bg-#{$bgColor}-300;
    opacity: .3;
  }
}

.btn {
  @apply py-3 px-4 font-medium focus:outline-none text-base border-0 transition;
  border-radius: 10px;
  &.btn-xs {
    @apply py-1 px-2 text-xs;
  }
  &.btn-sm {
    @apply h-8 py-0 px-3 text-sm;
  }
  &.btn-lg {
    @apply py-4 px-5 text-lg rounded-xl;
  }
}
.btn-xs {
  @apply rounded-md;
}
.btn-sm {
  @apply rounded-lg;
}
.btn-lg {
  @apply rounded-xl;
}

.btn-icon {
  @apply p-0 w-12 h-12 inline-flex items-center justify-center focus:outline-none text-lg border-0 transition;
  border-radius: 10px;
  &.btn-xs {
    @apply w-6 h-6 text-xs;
  }
  &.btn-sm {
    @apply w-8 h-8 text-sm;
  }
  &.btn-lg {
    @apply text-2xl;
    width: 60px;
    height: 60px;
  }
}

[class*="btn-outline-"] {
  @apply border border-solid
}

.btn-outline-dark {
  @apply bg-white text-gray-900 border-gray-900;
  &:hover {
    @apply bg-gray-100
  }
  &:active {
    @apply bg-gray-200
  }
}

.btn-outline-light {
  @apply bg-transparent border-gray-600 text-white;
  &:hover {
    background-color: rgba(#fff, .2);
  }
  &:active {
    background-color: rgba(#fff, .3);
  }
}

.btn-outline-rose {
  @apply bg-transparent text-rose-500 border-rose-500;
  &:hover {
    background-color: rgba($rose, .5);
    color: #fff;
  }
  &:active {
    background-color: rgba($rose, .4);
  }
  &:disabled {
    --tw-bg-opacity: 1;
    opacity: 0.3;
    pointer-events: none;
  }
}

.btn-outline-blue {
  @apply bg-transparent font-semibold text-blue-400 border-blue-500;
  &:hover {
    @apply text-blue-100;
    background-color: rgba($blue, .5);
  }
  &:active {
    background-color: rgba($blue, .4);
  }
}

.btn-outline-white {
  @apply bg-transparent font-semibold text-white border-white;
  &:hover {
    background-color: rgba(#fff, .2);
  }
  &:active {
    background-color: rgba(#fff, .1);
  }
}

.btn-ghost {
  @apply text-gray-900;
  &:hover {
    @apply bg-gray-100;
  }
}
.btn-link {
  @apply text-gray-900;
  &:hover {
    @apply text-rose-500;
  }
}

.btn-dark {
  @apply bg-gray-900 text-white;
  &:hover {
    @apply bg-rose-500;
  }
  &:active {
    @apply bg-rose-600;
  }
  &.disabled, &:disabled {
    @apply bg-gray-100 text-gray-300;
  }
}

.btn-dark-pure {
  @apply bg-gray-900 text-white;
  &:hover {
    @apply bg-gray-800;
  }
  &:active {
    @apply bg-black;
  }
  &.disabled, &:disabled {
    @apply bg-gray-100 text-gray-300;
  }
}

.btn-white {
  @apply bg-white text-gray-900;
  &:hover {
    @apply bg-gray-100;
  }
  &:active {
    @apply bg-gray-200;
  }
  &.disabled, &:disabled {
    @apply bg-white text-gray-300;
  }
}
.btn-yellow {
  @apply bg-yellow-600 text-gray-900;
  &:hover {
    @apply bg-yellow-700;
  }
  &:active {
    @apply bg-yellow-800;
  }
  &.disabled, &:disabled {
    @apply bg-yellow-100;
  }
}

.btn-rose {
  @include btn-color("rose")
}

.btn-blue {
  @include btn-color("blue")
}

.btn-light {
  @apply bg-gray-100 text-gray-900;
  &:hover {
    @apply bg-gray-300
  }
  &:active {
    @apply bg-gray-400
  }
  &.disabled, &:disabled {
    @apply bg-gray-100 text-gray-300;
  }
}

.btn-dark-light {
  @apply bg-gray-700 text-gray-200;
  &:hover {
    @apply bg-gray-600
  }
  &:active {
    @apply bg-gray-500
  }
  &.disabled, &:disabled {
    @apply bg-gray-700 text-gray-400;
  }
}

// Select counter
.number-input {
  @apply relative w-36;
  input {
    @apply block w-full px-9 py-2 border-2 border-solid border-gray-600 rounded-lg bg-transparent text-gray-50 text-center transition placeholder-gray-400;
    &:focus {
      @apply bg-gray-900
    }
  }
  &--sm {
    @apply w-24;
    input {
      @apply px-7 py-1 text-sm;
    }
    .number-input-button {
      @apply w-7 text-sm
    }
  }
  &:hover {
    input {
      @apply border-gray-500
    }
  }
  &-button {
    @apply absolute top-0 flex items-center justify-center text-gray-300 hover:text-rose-500 w-10 h-full cursor-pointer transition;
    &.plus {
      @apply right-0;
    }
    &.minus {
      @apply left-0;
    }
    &.disabled, &:disabled {
      @apply cursor-not-allowed border-gray-900 bg-transparent text-gray-600;
    }
  }
  &.disabled {
    input {
      @apply cursor-not-allowed opacity-40 hover:border-gray-600;
    }
  }
  @media (max-width: 639px) {
    .media-sm &{
      @apply w-24;
      input {
        @apply px-7 py-1 text-sm;
      }
      .number-input-button {
        @apply w-7 text-sm
      }
    }
  }
}

// Select
.select-button {
  @apply relative w-full py-1 pl-3 pr-10 text-left border-2 border-solid border-gray-600 rounded-lg bg-transparent text-gray-50 transition placeholder-gray-400 hover:border-gray-500 focus:bg-gray-900 focus:outline-none;
  &:disabled {
    @apply border-gray-700 text-gray-500
  }
  &.open {
    @apply border-gray-500
  }
  &__arrow {
    @apply absolute inset-y-0 right-0 flex items-center pr-2 text-gray-400 pointer-events-none;
    .select-button:disabled & {
      @apply text-gray-600
    }
  }
}

// Form
.required {
  @apply relative pl-2;
  &:before {
    content: '*';
    @apply absolute top-0 left-0 text-rose-500
  }
}

.form-label {
  @apply inline-flex text-gray-300 text-sm mb-1.5
}
.form-field {
  @apply block w-full py-2 px-3 bg-transparent text-gray-50 border-2 border-solid border-gray-600 rounded-lg transition placeholder-gray-500 focus:bg-gray-900 hover:border-gray-500 focus:outline-none;
  &.is-placeholder {
    @apply text-gray-400
  }
}
textarea.form-field {
  resize: none;
}


// Tickets
.ticket-wrapper {
  @apply w-full mx-auto;
  max-width: 600px;
}
.tickets-cover {
  @apply relative w-full bg-white rounded-lg overflow-hidden;

  @media (min-width: 640px) {
    border-radius: 0;
    height: 220px;
    -webkit-mask: radial-gradient( circle at 66.6%, red 2px, transparent 0) 50% 50% / 100% 10px, radial-gradient(circle at 10px, transparent 10px, red 0) -10px / 100% 30px;
    -webkit-mask-composite: xor;
  }
}
.tickets-cover__info {
  @apply relative flex items-center sm:w-2/3 sm:h-full px-5 sm:pl-8 sm:pr-5 py-4;
  border-bottom: 4px dotted #000;
  &:before, &:after {
    @apply absolute rounded-full bg-black;
    content: '';
    width: 27px;
    height: 27px;
    z-index: 1;
  }
  @media (max-width: 639px) {
    &:before, &:after {
      bottom: -15px;
    }
    &:before {
      left: -15px;
    }
    &:after {
      right: -15px;
    }
  }
  @media (min-width: 640px) {
    border-bottom: none;
    &:before, &:after {
      right: -15px;
    }
    &:before {
      top: -15px;
    }
    &:after {
      bottom: -15px;
    }
  }
}
.tickets-cover__qrcode {
  @apply flex items-center justify-center sm:w-1/3 sm:h-full px-5 sm:pl-5 sm:pr-7 pb-5 pt-4 sm:py-0;
}
