// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

// reset & public
@import "styles/reset";
@import "styles/public";

// components
@import "styles/components";
@import "styles/plugins";
@import "styles/pages";

@font-face {
  font-family: proximanova;
  font-weight: 500;
  font-display: fallback;
  src: url("../public/fonts/proximanova/proximanova-semibold-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova/proximanova-semibold-webfont.woff")
      format("woff");
}
@font-face {
  font-family: proximanova;
  font-weight: 600;
  font-display: fallback;
  src: url("../public/fonts/proximanova/proximanova-bold-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova/proximanova-bold-webfont.woff")
      format("woff");
}
@font-face {
  font-family: proximanova;
  font-weight: 700;
  font-display: fallback;
  src: url("../public/fonts/proximanova/proximanova-extrabold-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova/proximanova-extrabold-webfont.woff")
      format("woff");
}
@font-face {
  font-family: proximanova;
  font-weight: 800;
  font-display: fallback;
  src: url("../public/fonts/proximanova/proximanova-black-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova/proximanova-black-webfont.woff")
      format("woff");
}

@font-face {
  font-family: GTWP;
  src: local("GT Walsheim Pro Regular"),local("GTWalsheimProRegular"),url("../public/fonts/GTWalsheimPro/GTWalsheimProRegular.woff2") format("woff2"),url("../public/fonts/GTWalsheimPro/GTWalsheimProRegular.woff") format("woff"),url("../public/fonts/GTWalsheimPro/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
  font-style: normal
}
@font-face {
  font-family: GTWP;
  src: local("GT Walsheim Pro Medium"),local("GTWalsheimProMedium"),url("../public/fonts/GTWalsheimPro/GTWalsheimProMedium.woff2") format("woff2"),url("../public/fonts/GTWalsheimPro/GTWalsheimProMedium.woff") format("woff"),url("../public/fonts/GTWalsheimPro/GTWalsheimProMedium.ttf") format("truetype");
  font-weight: 500;
  font-display: fallback;
  font-style: normal
}

@font-face {
  font-family: GTWP;
  src: local("GT Walsheim Pro Bold"),local("GTWalsheimProBold"),url("../public/fonts/GTWalsheimPro/GTWalsheimProBold.woff2") format("woff2"),url("../public/fonts/GTWalsheimPro/GTWalsheimProBold.woff") format("woff"),url("../public/fonts/GTWalsheimPro/GTWalsheimProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal
}


.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

// Helvetica Neue
//@font-face {
//  font-family: "Helvetica Neue";
//  font-weight: 400;
//  font-display: fallback;
//  src: url("../public/fonts/helvetica/helveticaneue.ttf") format("truetype"),
//    url("../public/fonts/helvetica/helveticaneue.ttf") format("truetype");
//}
//@font-face {
//  font-family: "Helvetica Neue";
//  font-weight: 700;
//  font-display: fallback;
//  src: url("../public/fonts/helvetica/Helvetica Neue LT 75 Bold.ttf")
//      format("truetype"),
//    url("../public/fonts/helvetica/Helvetica Neue LT 75 Bold.ttf")
//      format("truetype");
//}
//@font-face {
//  font-family: "Helvetica Neue";
//  font-weight: 900;
//  font-display: fallback;
//  src: url("../public/fonts/helvetica/Helvetica Neue LT 97 Black Condensed.ttf")
//      format("truetype"),
//    url("../public/fonts/helvetica/Helvetica Neue LT 97 Black Condensed.ttf")
//      format("truetype");
//}
