@import 'mixin';
// Header
.header__link {
  @apply hidden sm:inline-flex text-sm p-1 font-medium text-gray-300 hover:text-white transition whitespace-nowrap
}
.header__menu {
  @apply flex items-center rounded-full border-2 border-solid border-gray-800 text-gray-500 py-1 pr-1 pl-3 cursor-pointer transition;
  &:hover, &.active {
    @apply text-gray-300 bg-gray-800
  }
}
.header__menu-dropdown {
  @apply absolute z-50 w-52 mt-2 px-2 bg-gray-900 rounded-lg focus:outline-none;
}
.header__menu-link {
  @apply text-white flex rounded-md items-center w-full px-2 py-2 my-1 text-sm transition font-medium;
  &:hover {
    @apply bg-gray-700
  }
}
.header__search {
  @apply relative hidden sm:flex items-center w-full text-gray-500 focus-within:text-gray-300;
  max-width: 268px;
  @media (min-width: 1280px) {
    max-width: 360px;
  }
}
.header__search-input {
  @apply block w-full pl-10 pr-3 py-2 rounded-full border-2 border-solid border-gray-800 bg-transparent text-white transition placeholder-gray-400;
  &:hover {
    @apply border-gray-700
  }
  &:focus {
    @apply bg-gray-900
  }
}
.header__phone-search {
  @apply block w-full px-3 py-3 border-0 bg-gray-900 text-white transition placeholder-gray-400;
}
.fade-enter {
  transition: all .1s cubic-bezier(0, 0, 0.2, 1);
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(.95);
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
  transform: scale(1);
}
.fade-leave {
  transition: all .075s cubic-bezier(0.4, 0, 1, 1);
}

.checkout-enter {
  transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
  @media (min-width: 768px) {
    transition: all .1s cubic-bezier(0, 0, 0.2, 1);
  }
}
.checkout-enter-from, .checkout-leave-to {
  opacity: 0;
  transform: translateY(100%);
  @media (min-width: 768px) {
    transform: scale(.95);
  }
}
.checkout-enter-to, .checkout-leave-from {
  opacity: 1;
  transform: translateY(0);
  @media (min-width: 768px) {
    transform: scale(1);
  }
}
.checkout-leave {
  transition: all .3s cubic-bezier(0.11, 0, 0.5, 0);
  @media (min-width: 768px) {
    transition: all .075s cubic-bezier(0.4, 0, 1, 1);
  }
}

// Event Details
.event-details__page{
  @apply relative flex-1 h-0 bg-black text-white;
}
.event-details__container {
  @apply w-full px-4 sm:px-8 md:px-10 lg:px-14 mx-auto lg:m-0;
  @media (min-width: 640px) {
    max-width: 720px;
  }
}
.event-details__tab {
  @apply flex items-center justify-center flex-1 rounded-full h-8 sm:h-10 cursor-pointer font-medium text-gray-400 transition;
  &:hover {
    @apply text-white;
  }
  &.active, &.first-active {
    @apply bg-gray-700 text-white;
  }
}
.event-details__side-action {
  @apply flex items-center justify-center w-10 h-10 sm:w-12 sm:h-12 text-xl rounded-full border-2 border-solid border-gray-600 text-gray-400 cursor-pointer transition;
  background-color: rgba(#000, .7);
  &:hover {
    @apply text-gray-200 bg-gray-900
  }
  &.favorite {
    @apply text-rose-500 bg-gray-700
  }
  &.active {
    @apply bg-gray-700
  }
}
.event-details__side-vip {
  @apply absolute -right-2 top-0 flex items-center justify-center w-5 h-5 bg-yellow-500 rounded-full z-10 text-gray-900 font-extrabold select-none;
  font-size: 10px;
  box-shadow: 0 0 16px 0 rgba(#ddd619, .9);
}
.event-details__modal {
  @apply flex flex-col w-full pt-3 sm:pt-4 px-4 sm:px-5 rounded-t-2xl sm:rounded-lg border border-solid border-gray-700 bg-gray-800;
  max-width: 500px;
  max-height: calc(100% - 80px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .75);
}
.event-details__description-modal {
  @apply relative inline-flex flex-col w-full h-full max-w-2xl sm:my-8 overflow-hidden text-left align-middle bg-white rounded-xl sm:rounded-xl md:rounded-2xl z-10;
  max-height: calc(100vh - 1rem);
  @media (min-width: 640px) {
    max-height: calc(100vh - 80px);
  }
  @media (min-width: 768px) {
    max-height: calc(100vh - 120px);
  }
}


// Check out
.checkout__page {
  @apply relative flex-1 h-0 bg-black text-white overflow-y-auto md:overflow-hidden;
}
.checkout__container {
  max-width: 600px;
  @media (min-width: 1280px) {
    max-width: 720px;
  }
}
.checkout__head-tab {
  @apply relative px-1 py-3 sm:py-4 text-sm sm:text-base font-semibold text-gray-400 mr-4 sm:mr-5 cursor-pointer transition;
  &:after {
    content: '';
    @apply absolute left-0 right-0 bottom-0 h-0 bg-white transition;
  }
  &:hover {
    @apply text-gray-300;
  }
  &.active {
    @apply text-white;
    &:after {
      @apply h-px;
    }
  }

}
.checkout__ticket-tag {
  @apply flex items-center justify-center w-6 h-6 border rounded-full cursor-pointer;
  &.ticket {
    @apply border-blue-500 text-blue-500
  }
  &.video {
    @apply border-rose-500 text-rose-500
  }
  &.bag {
    @apply border-green-500 text-green-500
  }
  &.vip {
    @apply border-yellow-500 text-yellow-500
  }
}
.checkout__ticket-select {
  @apply w-24 sm:w-36 py-1 sm:py-2 text-sm sm:text-base border-2 border-solid border-gray-600 bg-transparent text-white;
  &:hover {
    @apply border-gray-500 bg-gray-900;
  }
  &:active {
    @apply bg-gray-800
  }
  &.disabled, &:disabled {
    @apply cursor-not-allowed border-gray-900 bg-transparent text-gray-600;
  }
}
.checkout__merch-select {
  @apply w-full py-0 h-8 text-sm border border-solid border-gray-500 bg-transparent text-white;
  &:hover {
    @apply border-gray-400 bg-gray-700;
  }
  &:active {
    @apply bg-gray-600
  }
  &.disabled, &:disabled {
    @apply cursor-not-allowed border-gray-600 bg-transparent text-gray-500;
  }
}
.transition-margin {
  transition: margin .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.mask-enter {
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}
.mask-enter-from, .mask-leave-to {
  opacity: 0;
}
.mask-enter-to, .mask-leave-from {
  opacity: 1;
}
.mask-leave {
  transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}

.dialog-enter {
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}
.dialog-enter-from, .dialog-leave-to {
  opacity: 0;
  transform: translateY(12px);
}
.dialog-enter-to, .dialog-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.dialog-leave {
  transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}

.badge-count {
  @apply absolute right-1 top-1 origin-top-right rounded-full text-white bg-rose-500 h-5 text-center px-1.5 text-sm;
  min-width: 20px;
  transform: translate(50%, -50%);
}
.checkout__sidebar {
  @apply absolute right-0 flex flex-col bg-gray-800 bottom-0 z-20 bg-opacity-80 border-l border-solid border-gray-800;
  transform: translateX(100%);
  transition: all .3s;
  backdrop-filter: saturate(1.8) blur(20px);
  &.open {
    transform: translateX(0);
    box-shadow: -10px 10px 50px -12px rgba(0, 0, 0, .6);
  }
  width: 100%;
  top: 0;
  @media (min-width: 640px) {
    top: 81px;
    width: 450px;
  }
  @media (min-width: 1280px) {
    width: 500px;
  }
}
.checkout__goods-item {
  @apply flex items-start mb-5
}
.checkout__cart {
  @apply absolute bottom-full md:bottom-auto w-full z-30 md:mt-2 bg-gray-900 sm:rounded-lg focus:outline-none shadow-2xl bg-opacity-80 border border-solid border-gray-800;
  backdrop-filter: saturate(1.8) blur(20px);
  @media (min-width: 640px) {
    width: 450px;
  }
}
.checkout__cart-list {
  @apply p-1 overflow-y-auto;
  max-height: calc(100vh - 316px);
  height: 100vh;
  @media (min-width: 640px) {
    max-height: 320px;
  }
}

// Payment
.payment--cart {
  @apply md:ml-6 lg:ml-8 mt-5 md:mt-0;
  width: 100%;
  @media (min-width: 768px) {
    width: 360px;
  }
  @media (min-width: 900px) {
    width: 450px;
  }
}
.payment-currency-select {
  @apply block w-full py-2 pl-3 pr-9 h-11 bg-gray-700 focus:bg-gray-600 rounded-lg focus:outline-none font-medium text-sm cursor-pointer appearance-none bg-no-repeat;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-size: 1.5em 1.5em;
  color-adjust:exact
}
.radio-pointer label.chakra-radio {
  cursor: pointer;
}
