body {
  -webkit-tap-highlight-color: transparent;
}
a {
  cursor: pointer;
}

::selection {
  background: theme('colors.rose.500');
  color: #fff;
}

::-moz-selection {
  background: theme('colors.rose.500');
  color: #fff;
}

::-webkit-selection {
  background: theme('colors.rose.500');
  color: #fff;
}

input {
  appearance: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
